/* Common */
@import url('https://fonts.googleapis.com/css?family=Oswald:400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,700&display=swap');
html, body {font-size: 16px; font-family: 'Noto Serif', serif;}
.wrapper {width: 100%; max-width: 768px; margin: 0 auto; height: 100vh; border-left: 1px solid #eee; border-right: 1px solid #eee;}

/* Header */
.navi-wrap {display: flex; align-items: center; font-family: 'Oswald', sans-serif; font-size: 1.25rem;}
.navi {flex: 33.3333% 0 0; padding: 1rem; text-align: center;}
.navi.active {border-bottom: 2px solid dodgerblue;}


/* Main */


/* Footer */


/* Responsive */
@media screen and (max-width: 575px) {

}